<!-- toolbar -->
<div class="toolbar">
    <div class="toolbar__title">聊天</div>
</div>

<!-- content -->
<div class="contentview">
	<div class="fullsize scroll-y">
        <div class="chatitem hbox" ng-repeat="item in chatlist">
            <div class="chatitem__img" ng-if="item.type == 0" style="background-image: url({{item.img[0]}});">
			</div>
			<div class="chatitem__imggrp" ng-if="item.type == 1">
				<div class="chatitem__imggrp__img" ng-if="item.img[0]" style="background-image: url({{item.img[0]}});"></div>
				<div class="chatitem__imggrp__img" ng-if="item.img[1]" style="background-image: url({{item.img[1]}});"></div>
				<div class="chatitem__imggrp__img" ng-if="item.img[2]" style="background-image: url({{item.img[2]}});"></div>
				<div class="chatitem__imggrp__img" ng-if="item.img[3]" style="background-image: url({{item.img[3]}});"></div>
			</div>

            <div class="chatitem__info">
                <div class="chatitem__name"> {{item.name}} <span ng-if="item.type == 1">({{item.number}})</span></div>
                <div class="chatitem__content"> <span ng-if="item.type == 1">{{item.lastSpeak.name}}:</span> {{item.lastSpeak.content}} </div>
                <div class="chatitem__time"> {{item.lastSpeak.time}}</div>
            </div>

            <div class="chatitem__detail">
                >
            </div>
        </div>
    </div>
</div>

<!-- menu -->
<div class="menubar">
    <div class="menubar__btn {{activetab.results}}" hm-tap="jumpToPage('results')">效果</div>
    <div class="menubar__btn {{activetab.range}}" hm-tap="jumpToPage('range')">排名</div>
    <div class="menubar__btn {{activetab.video}}" hm-tap="jumpToPage('video')">视频</div>
    <div class="menubar__btn {{activetab.chat}}" hm-tap="jumpToPage('chat')">聊天</div>
</div>