<!-- toolbar -->
<div class="toolbar">
    <div class="toolbar__title">聊天</div>
</div>

<!-- content -->
<div class="contentview">
	<p>This is the chat view.</p>
</div>

<!-- menu -->
<div class="menubar">
    <div class="menubar__btn {{activetab.results}}" hm-tap="jumpToPage('results')">效果</div>
    <div class="menubar__btn {{activetab.range}}" hm-tap="jumpToPage('range')">排名</div>
    <div class="menubar__btn {{activetab.video}}" hm-tap="jumpToPage('video')">视屏</div>
    <div class="menubar__btn {{activetab.chat}}" hm-tap="jumpToPage('chat')">聊天</div>
</div>