<!-- toolbar -->
<div class="toolbar">
    <div class="toolbar__title">视频</div>

    <div class="toolbar__button toolbar__button--right" hm-tap="videocache()">
        已缓存 ({{localNums}})
    </div>
</div>

<!-- content -->
<div class="contentview">
	<div class="fullsize scroll-y">
        <div class="videoitem hbox" ng-repeat="item in videolist">
            <div class="videoitem__img" style="background-image: url({{item.img}});">
            	<div class="videoplay"></div>
			</div>

            <div class="videoitem__info">
                <div class="videoitem__name"> {{item.name}}</div>
                <div class="videoitem__time"> 时长: {{item.time}} {{item.timeunit}}</div><br>

                <div class="button videoitem__cache"> 缓存到本地 </div>
            </div>
        </div>
    </div>
</div>

<!-- menu -->
<div class="menubar">
    <div class="menubar__btn {{activetab.results}}" hm-tap="jumpToPage('results')">效果</div>
    <div class="menubar__btn {{activetab.range}}" hm-tap="jumpToPage('range')">排名</div>
    <div class="menubar__btn {{activetab.video}}" hm-tap="jumpToPage('video')">视频</div>
    <div class="menubar__btn {{activetab.chat}}" hm-tap="jumpToPage('chat')">聊天</div>
</div>